*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$primary : #002352;
$seco : #FFB822;
$inter: 'Inter', sans-serif;
$poppins: 'Poppins', sans-serif;

body{
    background:url("/c3953485dc9be497b8ef61d39c3ab9af.jpg");
    object-fit: fill;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    .logo{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        .circle{
            width: 16rem;
            height: 16rem;
            border-radius: 50%;
            background-color: #002352;
            position: relative;
            margin-top: 2rem;
            margin-bottom: 4rem;
            img{
                position: absolute;
                width: 19em;
                transform: translate(5%,-10%);
            }
            .title{
                position: absolute;
                color: $seco;
                transform: translate(-15%,250%);
                h1{
                    font-family: $poppins;
                    font-size: 2.7em;
                }
                h6{
                    font-family: $poppins;
                    font-size: .8em;
                }
            }
        }

        }
        .info{
            max-width: 35ch;
            text-align: center;
            font-family: $inter;
            font-size: .9rem;
            margin-bottom: 2rem;
        }
        
        .socials{
            margin-bottom: 2rem;
            display: flex;
            gap: 1rem;
        }
        .action{
            a{

                button{
                    
                        width:250px;
                        padding: .8rem;
                        border-radius: 3300000px;
                        background-color: $seco;
                        border: none;
                        font-family: $poppins;
                        font-size: large;
                        font-weight: 700;
                        color: $primary;
                }
            }
                
            
        }
}